/* Style for global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bitter', serif;
  color: #FFFFFF;
  font-size: 2rem;
  background-image: url(../assets/images/fondo.jpg);
  width: 100%;
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for start */

.container-flex-row {
  display: flex;
  justify-content: space-between;
}

.container-flex-column {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 2em;
}

.title{
  color:white;
}

.images {
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;
}

.text-title {
  color: #ebda1d;
  text-align: center;
}

/* Style for Modal */

[alt="img-modal"] {
  width: 100%;
}

.title-modal {
  text-align: center;
}

.container-text {
  color: #000;
}