/* Style for global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bitter', serif;
  color: #FFFFFF;
  font-size: 2rem;
  background-image: url(../assets/images/fondo.png);
  width: 100%;
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for start */

.container-flex-row {
  display: flex;
  justify-content: center;
}

.container-flex-column {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 2em;
}

.container-header {
  margin-top: 2rem;
}

.button-container {
  background: transparent;
  color: #ebda1d;
  border-color: #ebda1d;
  font-weight: 700;
}

.button-container:focus, .button-container:hover {
  background: #ebda1d;
  color: #FFFFFF;
  border: 0;
  font-weight: 700; 
  outline: 0;
}

hr {
  border: 1px solid #ebda1d;
}

.title{
  color:white;
}

.images {
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;
}

.text-title {
  color: #ebda1d;
  text-align: center;
}

/* Style for Modal */

[alt="img-modal"] {
  width: 100%;
}

.modal-center {
  text-align: center;
}

.container-text {
  color: #000;
}

[alt="starwars-logo"] {
  width: 100%;
  height: 10rem;
}