/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Bitter', serif;
  color: #FFFFFF;
  font-size: 2rem;
  background-image: url(../assets/imgs/fondo.jpg);
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100vh;
}

.container-flex-row {
	display: flex;
	justify-content: space-between;
}

.container-flex-column {
  display: flex;
	flex-direction:column;
  justify-content: center;
	padding: 2em;
}

.first{
  padding: 10px;
}

hr{
  width: 100%;
  color: tomato;
  margin-left: 8px;
  margin-right: 8px;
}

.icon{
  color:tomato;
}

#gifs{
  background: transparent;
  border-color:tomato;
  color:white;
}

#emojis{
  background: transparent;
  border-color:tomato;
  color:white;
}

footer{
  background-color: #bd081c;
  width: 100%;
  padding-left: 10rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
}

@media (min-width: 992px){
  footer{
    height: 8vh;
  }
}