/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Bitter', serif;
  color: #FFFFFF;
  font-size: 2rem;
  background-image: url(../assets/images/fondo.png);
  width: 100%;
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: right;;
  align-items: center;
}

/* Style for splash */

.container-logo {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

[alt="starwars-logo"] {
  width: 30rem;;
  height: 10rem;
}

@media (min-width:935px) {
  .title {
    text-align: right;
  }

  .container-logo {
    display: flex;
    justify-content: flex-end;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .container-logo-desk {
    margin-top: 15rem;
  }
}