/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Bitter', serif;
  color: #FFFFFF;
  font-size: 2rem;
  background-image: url(../assets/imgs/fondo.jpg);
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100vh;
}


.splash{
  text-align: center;
  background-size: cover;
  background-image: url(../assets/imgs/fondo.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left:0;
}

.splash h1{
  width: 90vw;;
}

.first{
  margin: 5px;
}

footer{
  background-color: #bd081c;
  width: 100%;
  padding-left: 10rem;
  padding: 1rem;
}

@media (min-width: 992px){
  footer{
    height: 8vh;
  }
}